<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Build Finder Index Page</title>
  </head>
  <body>
    <h1>{{ deck.deck_name }}</h1>
    <p>By: {{ deck.deck_author }}</p>
    <p>Description: {{ deck.deck_description }}</p>
    <ul>
        <li>{{ deck.card1 }}</li>
        <li>{{ deck.card2 }}</li>
        <li>{{ deck.card3 }}</li>
        <li>{{ deck.card4 }}</li>
        <li>{{ deck.card5 }}</li>
        <li>{{ deck.card6 }}</li>
        <li>{{ deck.card7 }}</li>
        <li>{{ deck.card8 }}</li>
        <li>{{ deck.card9 }}</li>
        <li>{{ deck.card10 }}</li>
</ul>
  </body>
</html>